<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeYXZhiFHqt0kesr-DPvm7NCvRMbfdeOg</string>
	<key>GCM_SENDER_ID</key>
	<string>866798100373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppV1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-45810</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-45810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866798100373:ios:8c619172d75c12e6bea09c</string>
</dict>
</plist>